
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap');
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.content {
    left:30px;
    top:200px;
    width:45vw;
    position: absolute;z-index: 99;
}


h1 {
    color: #202522;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Bricolage Grotesque";
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 108px */
    letter-spacing: -1px;
    margin-bottom:32px;
    font-variation-settings: "wdth" 700, "wdth" 82, "opsz" 96;
}
p {
    font-family: "Bricolage Grotesque";
    width:75%;
    line-height: 145%;;
}

.mesh-card {
    position: absolute;
    background:white;
    padding:24px;
}

canvas { 
    width: 100%; 
    height: 100%;
    background-image:url("../static/bg.png");
}

